<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="dashboard">
                <i class="fas fa-store-alt"></i>
                <span>Início</span>
            </a>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i>
                <span>Manejo</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fas fa-horse"></i>
                        Animais
                    </a>
                </li>
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fas fa-paw"></i>
                        Raças
                    </a>
                </li>
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fas fa-syringe"></i>
                        Vacina
                    </a>
                </li>
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fas fa-medkit"></i>
                        Vacinação
                    </a>
                </li>
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fas fa-balance-scale"></i>
                        Pesagem
                    </a>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i>
                <span>Financeiro</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="billingCycle">
                        <i class="fa fa-usd"></i>
                        Ciclo de Pagamentos
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>